#looking-light {
    padding-left:150px;
    height: 36px;	
    width: 181px;	
    color: #A4243B;	
    font-family: Futura;	
    font-size: 28px;	
    font-weight: 500;	
    line-height: 37px;	
    text-align: center;
}

.btn {
    height: 60px;
    width: 324px;
    border-radius: 8px;
    background-color: #A4243B;
}

#fill-tables-btn {
    position: relative;
    left: 77px;
}

.btn-text {
    height: 36px;	
    width: 324px;	
    color: #FFFFFF;	
    font-family: Futura;	
    font-size: 28px;	
    font-weight: 500;	
    line-height: 37px;	
    text-align: center;
}

#fill-tables-btn-text {
    position: relative;
    bottom: 10px;
    right: 5px;
}

.dropdown-btn {
    height: 60px;	
    width: 328px;	
    border-radius: 8px;	
    background-color: #A4243B;
}

#reservations-dropdown-btn {
    position: absolute;
    top: 82px;
    left: 530px;
}

.dropdown-btn-text {
    height: 36px;
    width: 223px;
    color: #FFFFFF;
    font-family: Futura;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
}

#reservations-dropdown-btn-text{
    position: relative;
    bottom: 9px;
    left: 50px;
}

.row-rect {
    height: 82px;
    width: 929px;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 30px
}

.prof-pic {
    height: 75px;
    width: 75px;
    float:left;
}

.reservation-row-text{
    height: 39px;	
    width: 220px;	
    color: #D46A6A;	
    font-family: Futura;	
    font-size: 30px;	
    font-weight: 500;	
    line-height: 40px;	
    text-align: center;
    float: left;
    padding-left: 15px;
}

.envelope{
    height: 44.21px;	
    width: 65px;
    float: right;
    padding-right: 75px;
    padding-top: 20px;
}

#page-body{
    position: absolute;
    top: 92px;
}

body{
    background-color: #D8D8D8
}